@tailwind base;
@tailwind components;
@tailwind utilities;

nav, footer, #root {
  outline: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: blueviolet;
  text-decoration: underline;
}